body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

