body {
  background: #ffb03a
}

#container {
  background-image: url(../images/IMG_2273.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'londrina Solid', cursive;
  color: rgb(79, 12, 236);
}
.main-container {
  width: 80%;
  text-align: center;
  margin: auto;
}
.ptSans {
  font-family: 'PT Sans', sans-serif;

}

h1 {
  width: 100%;
  margin: auto;
  padding-top: 25%;
  padding-bottom: 10px;
  font-size: 48px;
  color: white;
}

.bottom {
  padding-bottom: 10%;
}

#guess {
  margin: auto;
  font-size: 36px;
  margin-bottom: 45px;
}

.body-container {
  text-align: center;
  width: 80%;
}

.size {
  font-size: 28px;
  text-align: left;
  padding-left: 43%;
  margin-bottom: 30px;
}

.sizeNumber {
  font-size: 28px;
  text-align: left;
  margin-bottom: 30px;
  padding-right: 30px;
}
#img {
  margin: 0 auto;
}
#winImage {
  width:300px;
}